:root {
    --bg: #8aa2a0;
    --text: #fff;
    --primary: #ffe08a;
    --black: #1f2833;
    --secondary: lightgrey;
    --master: #ff4dd5;
    --pro: #0ecbe8;
    --learning: #2caf7f;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 0.3s ease-in-out;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    padding: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--bg);
    margin: 3px;
    border-radius: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "poppins";
    background: var(--black);
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
    animation: loadAfter 0.7s linear;
    z-index: 99;
}

.logo {
    color: var(--primary);
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 0 35px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    font-weight: 550;

    &:hover {
        color: var(--primary);
    }
}

.resume {
    margin: 0 30px;
    background: var(--pro);
    text-decoration: none;
    color: var(--black);
    outline: none;
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: 550;
    transition: all 0.2s ease-in-out;

    &:hover {
        scale: 1.04 !important;
    }
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: var(--text);
    margin: 3px 0;
    transition: transform 0.4s;
}

/* SKILLS SECTION */

.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* max-width: 1000px; */
    margin: 100px auto 50px;
}

.skills-heading {
    font-size: 28px;
    font-weight: 550;
    color: var(--primary);
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.skills-heading::before,
.skills-heading::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 300px;
    height: 3px;
    background-color: var(--pro);
    border-radius: 50px;
}

.skills-heading::before {
    left: -315px;
    /* adjust based on layout */
}

.skills-heading::after {
    right: -315px;
}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skill-card {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin: 30px;
    background: #ffffff0d;
    border: 1px solid var(--text);
    border-radius: 10px;
    padding: 20px 40px;

    &:hover {
        transform: translateY(-15px) !important;
    }
}

.skill-card-heading {
    margin: 0px auto 20px;
    font-weight: 600;
    font-size: 22px;
    color: var(--secondary);
}

.skill {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    margin: 10px;
    border-radius: 7px;
}

.skill span {
    display: flex;
    align-items: center;
}

.skill span i {
    margin-right: 5px;
}

.legend {
    color: var(--primary);
    border: solid 1px var(--primary);
    background: rgba(255, 209, 82, 0.1);
}

.master {
    color: var(--master);
    border: solid 1px var(--master);
    background: rgba(255, 115, 222, 0.1);
}

.pro {
    color: var(--pro);
    border: solid 1px var(--pro);
    background: rgba(14, 203, 232, 0.1);
}

.learning {
    color: var(--learning);
    border: solid 1px var(--learning);
    background: rgba(45, 179, 130, 0.1);
}

.skill p {
    color: var(--text);
}


/* PROJECTS SECTION */

.skill-card img {
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 7px;
}


#projects .skill-card-heading {
    font-weight: 550;
    font-size: 20px;
}

.link-warper {
    display: flex;
    justify-content: space-between;
}

.link-warper .skill {
    padding: 5px 8px;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
}

.link-warper .legend:hover,
.link-warper .pro:hover {
    background-color: transparent !important;
}

.link-warper p {
    margin-right: 15px;
}

.link-warper i {
    font-size: medium;
}

/* ACHIEVEMENTS SECTION */

#achievements .skill {
    padding: 8px;
    cursor: pointer;
    margin: 0;
    text-decoration: none;

    &:hover {
        border-color: var(--primary) !important;
        background-color: rgba(255, 209, 82, 0.1) !important;
    }

    &:hover i {
        color: var(--primary);
    }
}

#achievements .skill-card-heading {
    font-weight: 550;
    font-size: 18px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    margin: auto;
    /* background-color: #fff; */
    padding: 20px;
    width: 85%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.modal .close {
    position: absolute;
    top: 0;
    right: -30px;
    color: #dc4a4a;
    cursor: pointer;
    z-index: 1000;
}

.close i {
    font-size: 36px;
    font-weight: 600;
}

.close:hover {
    color: red;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}


/* CONTACTS SECTION */

.left {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

.right {
    padding: 20px;
    margin: 20px;
}

#contacts span:not(.border-line) {
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgba(255, 209, 82, 0.1);
    color: var(--secondary);
    align-items: center;
    font-weight: 500;
    border-radius: 0 7px 7px 0;
    border-left: 5px solid var(--primary);
}

#contacts span i {
    margin-right: 10px;
    font-size: 20px;
    color: var(--primary);
}

.border-line {
    height: 200px;
    width: 2px;
    background-color: var(--primary);
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding: 30px 50px;
    max-width: 100vw;
    text-decoration: none;
    color: var(--text);
    border-top: 2px solid var(--primary);
}

footer a {
    color: #ffe08a;
}

footer a i {
    font-size: 32px;
    border: var(--primary) 1px solid;
    border-radius: 50% 50%;
    padding: 5px;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes loadAfter {
    0% {
        transform: translateY(-100%);
        visibility: 0;
    }

    100% {
        transform: translateY(0);
        visibility: 1;
    }
}


@media(max-width:900px) {

    .border-line,
    .right {
        display: none;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        width: 200px;
        height: 100vh;
        padding: 50px;
        top: 0;
        background: var(--bg);
        text-align: left;
        z-index: -1;
    }


    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
    }

    .logo {
        margin: 0 0 0 5px;
    }

    nav ul li {
        margin: 20px 0 0 0;
    }

    .resume {
        margin: 30px 0;
        background: var(--black);
        color: var(--bg);
    }

    .skills-heading::before,
    .skills-heading::after {
        width: 100px;
    }

    .skills-heading::before {
        left: -115px;
        /* adjust based on layout */
    }

    .skills-heading::after {
        right: -115px;
    }

    #achievements .skills-heading::before,
    #achievements .skills-heading::after {
        width: 80px;

    }

    #achievements .skills-heading::before {
        left: -90px;
        /* adjust based on layout */
    }

    #achievements .skills-heading::after {
        right: -90px;
    }

}