:root {
    --bg: #8aa2a0;
    --text: #fff;
    --primary: #ffe08a;
    --black: #1f2833;
    --secondary: lightgrey;
    --master: #ff4dd5;
    --pro: #0ecbe8;
    --learning: #2caf7f;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 0.3s ease-in-out;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    padding: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    margin: 3px;
    border-radius: 15px;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "poppins";
    background: var(--black);
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    height: 80px;
    animation: loadAfter 0.7s linear;
    z-index: 999;
}

.logo {
    color: var(--primary);
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 0 35px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    font-weight: 550;

    &:hover {
        color: var(--primary);
    }
}

.resume {
    margin: 0 30px;
    background: var(--pro);
    text-decoration: none;
    color: var(--black);
    outline: none;
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: 550;
    transition: all 0.2s ease-in-out;

    &:hover {
        scale: 1.04;
    }
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: var(--text);
    margin: 3px 0;
    transition: transform 0.4s;
}

/* SKILLS SECTION */

.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* max-width: 1000px; */
    margin: 100px auto 50px;
}

.skills-heading {
    font-size: 28px;
    font-weight: 550;
    color: var(--primary);
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.skills-heading::before,
.skills-heading::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 300px;
    height: 3px;
    background-color: var(--pro);
    border-radius: 50px;
}

.skills-heading::before {
    left: -315px;
    /* adjust based on layout */
}

.skills-heading::after {
    right: -315px;
}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skill-card {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin: 30px;
    background: #ffffff0d;
    border: 1px solid var(--text);
    border-radius: 10px;
    padding: 20px 40px;

    &:hover {
        transform: translateY(-15px);
    }
}

.skill-card-heading {
    margin: 0px auto 20px;
    font-weight: 600;
    font-size: 22px;
    color: var(--secondary);
}

.skill {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    margin: 10px;
    border-radius: 7px;
}

.skill span {
    display: flex;
    align-items: center;
}

.skill span i {
    margin-right: 5px;
}

.legend {
    color: var(--primary);
    border: solid 1px var(--primary);
    background: rgba(255, 209, 82, 0.1);
}

.master {
    color: var(--master);
    border: solid 1px var(--master);
    background: rgba(255, 115, 222, 0.1);
}

.pro {
    color: var(--pro);
    border: solid 1px var(--pro);
    background: rgb(14, 203, 232, 0.1);
}

.learning {
    color: var(--learning);
    border: solid 1px var(--learning);
    background: rgba(45, 179, 130, 0.1);
}

.skill p {
    color: var(--text);
}


/* PROJECTS SECTION */

.skill-card img {
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 7px;
}

#projects .skill-card {

    &:hover {
        transform: none;
        background-color:rgba(141, 60, 199, 0.2);
    }
}

.link-warper {
    display: flex;
    justify-content: space-between;
}

.link-warper .skill {
    padding: 5px 8px;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
}

.link-warper p {
    margin-right: 15px;
}

.link-warper i{
    font-size:medium;
}
@keyframes loadAfter {
    0% {
        transform: translateY(-100%);
        visibility: 0;
    }

    100% {
        transform: translateY(0);
        visibility: 1;
    }
}


@media(max-width:900px) {

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        width: 200px;
        height: 100vh;
        padding: 50px;
        top: 0;
        background: var(--bg);
        text-align: left;
        z-index: -1;
    }


    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
    }

    .logo {
        margin: 0 0 0 5px;
    }

    nav ul li {
        margin: 20px 0 0 0;
    }

    .resume {
        margin: 30px 0;
        background: var(--black);
        color: var(--bg);
    }

    .skills-heading::before,
    .skills-heading::after {
        width: 100px;

    }

    .skills-heading::before {
        left: -115px;
        /* adjust based on layout */
    }

    .skills-heading::after {
        right: -115px;
    }

}